@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Where's The Truck?</h1>
    <p><a href="http://localhost:53822/Trucks" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Locate A Truck</h2>
        <p>
            "Where The Truck" allows customers to locate their favorite Food Trucks via our Friendly web interface.
            We are prideful in helping you locate the premier crusine.
        </p>
        <p><a class="btn btn-default" href="http://localhost:53822/Trucks">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How To Truck</h2>
        <ol>
            <li>Pick a Truck</li>
            <li>View the Page</li>
            <li>Check the Map</li>
            <li>Grab some Grub</li>
        </ol>
    </div>
    <div class="col-md-4">
        <h2>Mother Trucker</h2>
        <p>Place Holder</p>
    </div>
</div>